=begin
{{> api_info}}
=end

require 'json'

module {{moduleName}}
{{#operations}}
  module {{packageName}}
    module {{classname}}
    {{#operation}}

      # {{{summary}}}
      # {{{notes}}}
    {{#allParams}}{{#required}}  # @param {{paramName}} {{description}}
    {{/required}}{{/allParams}}  # @param [Hash] opts the optional parameters
    {{#allParams}}{{^required}}  # @option opts [{{{dataType}}}] :{{paramName}} {{description}}{{#defaultValue}} (default to {{{.}}}){{/defaultValue}}
    {{/required}}{{/allParams}}  # @return [{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}nil{{/returnType}}]
      def {{operationId}}(context{{#allParams}}{{#required}}, {{paramName}}{{/required}}{{/allParams}})
        local_var_path = '{{{path}}}'{{#pathParams}}.sub('{' + '{{baseName}}' + '}', {{paramName}}.to_s){{/pathParams}}
        {{#returnType}}
          {{#isListContainer}}
        ret = []
          {{/isListContainer}}
          {{^isListContainer}}
        ret = {}
          {{/isListContainer}}
        {{/returnType}}
        {{^returnType}}
        ret = ''
        {{/returnType}}

        {{httpMethodLowerCase}}(context, local_var_path, ret{{#allParams}}{{#bodyParam}}, {{paramName}}{{/bodyParam}}{{/allParams}})

        ret
      end
    {{/operation}}
    end
  end
{{/operations}}
end
