=begin
{{> api_info}}
=end

require 'json'

module {{moduleName}}
{{#operations}}
  module {{packageName}}
    module {{classname}}
    {{#operation}}

      # {{{summary}}}
      # {{{notes}}}
    {{#pathParams}}  # @param {{paramName}} {{description}}
    {{/pathParams}}{{#hasBodyParam}}  # @param [Hash] req_body the request body parameters{{/hasBodyParam}}
    {{#bodyParams}}  # @option req_body [{{{dataType}}}] :{{paramName}} {{description}}{{#defaultValue}} (default to {{{.}}}){{/defaultValue}} {{#required}}(required){{/required}}
    {{/bodyParams}}  # @return [{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}nil{{/returnType}}]
      def {{operationId}}(context{{#pathParams}}, {{paramName}}{{/pathParams}}{{#hasBodyParam}}, req_body{{/hasBodyParam}})
        local_var_path = "{{{path}}}"{{#pathParams}}.sub('{' + '{{baseName}}' + '}', {{paramName}}.to_s){{/pathParams}}
        {{#returnType}}
          {{#isListContainer}}
        ret = []
          {{/isListContainer}}
          {{^isListContainer}}
        ret = {}
          {{/isListContainer}}
        {{/returnType}}
        {{^returnType}}
        ret = ''
        {{/returnType}}

        {{httpMethodLowerCase}}(context, local_var_path, ret{{#hasBodyParam}}, req_body{{/hasBodyParam}})

        ret
      end
    {{/operation}}
    end
  end
{{/operations}}
end
