=begin
{{> api_info}}
=end

# base_client
require '{{gemName}}/{{apiPackage}}/client_base'

# APIs
{{#apiInfo}}
{{#apis}}
require '{{importPath}}'
{{/apis}}
{{/apiInfo}}

module {{moduleName}}
  module {{packageName}}
    class Client
      include ClientBase
      {{#apiInfo}}
      {{#apis}}
      include {{classname}}
      {{/apis}}
      {{/apiInfo}}
    end
  end
end
